configuration {
    auto-select         :                                    false;
    cache-dir           :                     "$USER/.cache/rofi/";
    case-sensitive      :                                    false;
    case-smart          :                                    false;
    click-to-exit       :                                     true;
    combi-display-format:                          "{mode} {text}";
    combi-hide-mode-prefix:                                  false;
    combi-modes         :                             "window,run";
    completer-mode      :                            "filebrowser";
    cycle               :                                     true;
    disable-history     :                                    false;
    display-combi       :                                  "Combi";
    display-drun        :                                   "Apps";
    display-filebrowser :                                  "Files";
    display-keys        :                                   "Keys";
    display-run         :                                    "Run";
    display-ssh         :                                    "SSH";
    display-window      :                                 "Window";
    dpi                 :                                       -1;
    drun-display-format :                                 "{name}";
    drun-match-fields   :  "name,generic,exec,categories,keywords";
    drun-reload-desktop-cache:                               false;
    drun-show-actions   :                                    false;
    drun-url-launcher   :                               "xdg-open";
    drun-use-desktop-cache:                                  false;
    eh                  :                                        1;
    fixed-num-lines     :                                     true;
    font                :                                "hack 15";
    global-kb           :                                    false;
    hover-select        :                                    false;
    imdkit              :                                     true;
    location            :                                        0;
    m                   :                                     "-5";
    matching            :                                 "normal";
    max-history-size    :                                       25;
    modes           : "combi,drun,filebrowser,keys,run,ssh,window";
    normalize-match     :                                    false;
    parse-hosts         :                                    false;
    parse-known-hosts   :                                     true;
    pid                 :                "/run/user/1000/rofi.pid";
    refilter-timeout-limit:                                    300;
    run-command         :                                  "{cmd}";
    run-list-command    :                                       "";
    run-shell-command   :                    "{terminal} -e {cmd}";
    scroll-method       :                                        0;
    show-icons          :                                     true;
    sidebar-mode        :                                     true;
    sort                :                                    false;
    sorting-method      :                                 "normal";
    ssh-client          :                                    "ssh";
    ssh-command   :"{terminal} -e {ssh-client} {host} [-p {port}]";
    steal-focus         :                                    false;
    terminal            :                 "rofi-sensible-terminal";
    threads             :                                        0;
    tokenize            :                                     true;
    window-command      :                  "wmctrl -i -R {window}";
    window-format       :                           " {w}   {c}";
    window-match-fields :                                    "all";
    window-thumbnail    :                                    false;
    xoffset             :                                        0;
    xserver-i300-workaround:                                 false;
    yoffset             :                                        0;
    filebrowser {
        /*#########################################################
        ###           Directory the file browser starts in.     ###
        #########################################################*/
        directory       :                            "/home/$USER";

        /*#################### SORTING METHOD #####################
        ### Sorting method used here is based on name. Other    ###
        ### possiible values are:                               ###
        ###   - "name"                                          ### 
        ###   - "mtime" - Based on modification time.           ###
        ###   - "atime" - Based on access time.                 ###
        ###   - "ctime" - Based on change time.                 ###
        #########################################################*/
        sorting-method  :                                   "name";

        /*#################### ITEM GROUPING ######################
        ###              Group directories before files         ###
        #########################################################*/
        directories-first:                                    true;
        show-hidden     :                                     true;
        /** return 1 on cancel. */
        cancel-returns-1:                                     true;
        }
}
