configuration {
    disable-history     :                                    false;
    display-drun        :                                   "Apps";
    display-filebrowser :                                  "Files";
    display-window      :                                 "Window";
    drun-display-format :                                 "{name}";
    font                :                                "hack 15";
    max-history-size    :                                       25;
    modes               : "window,drun,run,ssh,filebrowser,combi" ;
    show-icons          :                                     true;
    sidebar-mode        :                                     true;
    window-format       :                           " {w}   {c}";
    filebrowser {
        /* 
        ###########################################################
        ###           Directory the file browser starts in.     ###
        #########################################################*/
        directory       :                            "/home/$USER";

        /*#################### SORTING METHOD #####################
        ### Sorting method used here is based on name. Other    ###
        ### possiible values are:                               ###
        ###   - "name"                                          ### 
        ###   - "mtime" - Based on modification time.           ###
        ###   - "atime" - Based on access time.                 ###
        ###   - "ctime" - Based on change time.                 ###
        #########################################################*/
        sorting-method  :                                   "name";

        /*#################### ITEM GROUPING ######################
        ###              Group directories before files         ###
        #########################################################*/
        directories-first:                                    true;
        show-hidden     :                                     true;
        /** return 1 on cancel. */
        cancel-returns-1:                                     true;
        }
}
